@tailwind base;
@tailwind components;
@tailwind utilities;

/* Force code wrapping in prose */
.prose pre {
    white-space: pre-wrap !important;
    word-break: break-word !important;
    overflow-x: hidden !important;
}